<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Employee Salary</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <style>
    body {
      background-image: url("https://previews.123rf.com/images/andreypopov/andreypopov1410/andreypopov141000286/32705844-salary-increase-chart-isolated-on-white-background.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
    }

    </style>

</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${salaries}" class="container my-5">
                <div class="col-md-12">
                    <h2 th:case="null">No record found!!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Gross Salary</th>
                                <th scope="col">Net Salary</th>
                                <th scope="col">Edit salary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="salary : ${salaries}">
                                <td th:text="${salary.id}"></td>
                                <td>
                                    <span th:each="employee : ${salary.employees}" th:text="${employee.name}"></span>
                                </td>
                                <td>
                                    <span th:each="employee : ${salary.employees}"
                                          th:text="${employee.lastName}"></span>
                                </td>
                                <td>
                                    <span th:text="${salary.bruttoSalary}" step="any"></span> €
                                </td>
                                <td>
                                    <span th:text="${salary.nettoSalary}" step="any"></span> €
                                </td>
                                <td><a th:href="@{/update-salary/{id}(id=${salary.id})}" class="btn btn-primary"
                                       th:if="${salary.bruttoSalary}">
                                    <i class="fas fa-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <h3>Total Employee cost - Salaries: <span th:text="${totalBrutto}"></span> €</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>