<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Enter brutto or netto salary</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
      $("#bruttoSalary").on("input", function () {
        var bruttoSalary = parseFloat($(this).val());
        var nettoSalary = bruttoSalary - (bruttoSalary * 0.2);
        $("#nettoSalary").val(nettoSalary.toFixed(2));
      });

      $("#nettoSalary").on("input", function () {
        var nettoSalary = parseFloat($(this).val());
        var bruttoSalary = nettoSalary / (1 - 0.2);
        $("#bruttoSalary").val(bruttoSalary.toFixed(2));
      });
    });

    </script>

</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <form th:action="@{/update-salary/{id}(id=${salary.id})}" th:object="${salary}" method="post">
                <div class="row">
                    <div class="form-group col-md-8">
                        <label for="employeeId">Employee ID:</label>
                        <input type="number" id="employeeId" name="employeeId" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="bruttoSalary">Brutto Salary:</label>
                        <input type="number" id="bruttoSalary" name="bruttoSalary" step="any" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="nettoSalary">Netto Salary:</label>
                        <input type="number" id="nettoSalary" name="nettoSalary" step="any" required>
                    </div>

                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${salary.id}">
            </form>
        </div>
    </div>
</div>
</body>
</html>